:root
{
    --branco-pricipal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:'inter', sans-serif;;
    --botao-azul-efeito:#3c92fa
}

body
{

    background-color: var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* 
{
    margin: 0;
    padding: 0;
}

.principal
{
    background-image: url("img/Background.png");  
    background-repeat: no-repeat;  /*para não repetir*/
    background-size: contain;
    align-items: center;  /* centralizamos os elementos de coluna */
    text-align: center;   /* alinha ao centro tudo o que está dentro de um elemento de bloco.*/
}   


.container {
    height: 100vh;
    display: grid; /* colocar itens lado a lado utilizando o grid..*/
    grid-template-columns: 50% 50%; /*tamanho, colunas*/
}

.container__botao
{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario
{
    background-color: transparent;
    border: 2px solid var(--branco-pricipal);
}

.container__aviso
{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo
{
    font-size: 28px;
    font-weight: 700;;
}

.container__imagem
{
    margin: 1em 0 2em 0;
}

.container__caixa 
{
    margin: 0 6em;
}

.secundario__imagem
{
    width: 80%; /*adicionar um tamanho responsivo para essa imagem. Devemos ter a preocupação de que, ao acessar essa tela com um celular, por exemplo, a imagem tente sobrepor o texto.*/
}

.secundario
{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo 
{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em; /*espaço entre o titulo e a descrição*/
}
.descricao__texto
{
    color: var(--cinza-secundario);
   
}

.secundario__botao
{
 
    display: inline-block;
    margin-top: 1em;
}

.container__descricao
{
    padding: 2em;
}

.dispositivos__lista
{
    
    display: flex;          /*os itens agora estão lado a lado, pois o display: flex transformou a lista em um flex container, e todos os itens dessa lista em flex items. 
                            O flex container tem o flex direction, que seria a direção desse container, e a direção padrão é a row, que seria a linha. 
                            Então, isso fez todos os itens ficarem um do lado do outro, em uma linha.*/
    justify-content: center;
    list-style-type: none;  /*para remover as bolinhas de lista*/
    margin: 5em 0;
}

.dispositivos
{
    text-align: center; /*o text-align pega todos os itens inline de dentro do container interno e os centraliza*/
}

.dispositivos__titulo
{   
    color: var(--branco-principal);
    font-size: 48px
   
}

.lista__item
{   
    color: var(--branco-principal);
    font-size: 32px;
}

.rodape__lista
{
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-top: 1em;
    
    
}

.lista__link a
{
   margin-left: 1em;
   text-decoration: none;
   color: var(--branco-principal);
}

.rodape
{
    text-align: center;
    margin: 5em 3em;
   
}
.rodape__texto
{
    font-size: 14px;
    margin: 1em 0;
    color: var(--cinza-secundario);
}

.lista__link a:hover  /*hover e active são pseudoclasses do CSS que conseguem detectar a nossa interação com a tela.*/
{
    color: var(--botao-azul);
}

.lista__link a:active /* Quando clicamos, usamos o active.*/
{
    color: purple;
}

.container__botao:hover  /* O hover, por sua vez, é quando passamos o mouse.*/
{   
    background-color: var(--botao-azul-efeito);
    color:  var(--cor-de-fundo); 
}
